a{
	color: #22BCE0;
}

aside{
	display: none;
}

body{
	background: #EEEEEE;
	font-family: "Open Sans";
	font-size: 16px;
}

footer
{
	background: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
}
footer p:first-child
{	
	margin-bottom: 0;
}
footer p:last-child
{
	margin-top: 0;
}
footer p:last-child:after
{
	content: " -";
}
footer p:last-child:before
{
	content: "- ";
}

header{
	background: #343B54;
	color: white;
	overflow: hidden; /*lo que no esta dentro de el area que esta abarca entonces sera ocultado*/
	padding: 0.5em;
	/*obtiene 4 atributos de direccion*/
	position: relative; /*con esto "atrapamos" al avatar que anteriormente le pusimos absolute*/
}

header figure{
	float: left; /*flotar para la izquierda*/
	/*al hacerlo flotar a la izquierda sale del area que abarca el header*/
}

header h1{
	font-size: 1.2em; /*16px * 1.2 = 18.2px*/
	font-weight: normal; /*le quitamos la negrita*/
	margin: 0.2em 70px 0 0; /*el h1 tiene un display por defecto de block*/
}

header #avatar{
	/*busca la posicion mas cercana al 0,0*/
	margin: 0.5em 0.5em 0 0;
	position: absolute;
	right: 0; /*derecha*/
	top: 0; /*arriba*/
}

header #avatar img{
	border-radius: 50%; /*le damos el 50% de borde para hacerlo redondo	*/
	width: 55px; /*ancho de 55px*/
}

/*          revisar          */

header #logo
{
	border-right: 1px solid white;
	padding-right: 0.5em;
	margin-right: 0.5em;
}
header #logo img
{
	/*-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);*/
	/*-webkit-transition:.5s;*/
	transition:.5s;
	width: 52px;
}
header #logo img:hover{
	/*-webkit-transform: rotate(360deg);*/
	transform: rotate(360deg);
}

/*          fin de revisar          */

nav{
	background: #80BCA3;
	padding: 0 6em 0 0; /*con esto al achicar no tapa el boton publicar al ultimo enlace*/
	position: relative;/*con esto "atrapamos" al enlace "publicar" que anteriormente le pusimos absolute*/
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li a:hover{
	background: #344B54;
}

nav ul #publicar_nav{
	position: absolute;
	top: -0.4em;/*si quedemos centrar el enlace "publicar* debemos  mover la mitad de lo de padin*/
	right: 0;
}

nav ul #publicar_nav a{
	background: #22BCE0;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	font-style: italic;
	padding: 0.8em; /*como le damos un padin para que creesca se saldra dela caja nav*/
	/*color, sombra en eje X, sombra en eje Y, la sombra*/
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}

nav ul li{
	/*las lista son por defecto block*/
	display: inline-block;
	margin: 0 1em 0 0;
}

nav ul li a{
	color: white;
	display: block; /*se le coloca block por que solo estas tienen pading y margin*/
	padding: 0.5em 0;
	text-decoration: none;
}

nav ul #publicar_nav a:hover{
	box-shadow: 0 0 30px yellow;
}

/*a partir de aqui comenzamosa editar la parde del contenido o section*/
#contenido{
	margin: 1em;
}

#contenido .item{
	/*overflow: hidden; /*lo que no esta dentro de el area que esta abarca entonces sera ocultado*/
	background: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}

#contenido .item .autor_item{
	color: #AAA;
}

#contenido .item .datos_item{
	text-align: right; /*alineado a la derecha*/
	margin: 1em 1em 0 0;
}

#contenido .item .datos_item .fecha_item{
	color: #AAA;
}

#contenido .item .datos_item .tag_item{
	background: #F4502A;
	border-radius: 10px;
	color: white;
	display: inline-block;
	float: left; /*para la izquierda*/
	padding: 0.2em 0.5em;
	text-decoration: none;

}

#contenido .item .imagen_item{
	float: left; /*para la izquierda*/
	margin: 0 1em 0 0;
}

#contenido .item .imagen_item img{
	width: 96px;
}

#contenido .item .titulo_item{
	font-size: 1.2em;	
	font-style: italic;
	padding: 1em 1em 0 0;
}

#contenido .item .titulo_item a{
	color: #444;
	text-decoration: none;
}

#contenido .item .votacion{
	background: white;
	border-radius: 0 0 0.5em 0.5em;
	left: 5%;
	margin-top: 3px;
	padding: 0.2em 0.5em;
	position: absolute;
	top: 100%;	
	width: 90%;
}

#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item{
	float: right;/*derecha*/
}




/*declararemos un media query*/

/*aca le decimos que a nuestra pantalla desde minimo 800px hace lo siguiente*/
@media screen and (min-width: 800px){
	
	#contenido
	{
		overflow: hidden; /*oculta lo que no esta en la caja*/
	}
	#contenido .item 
	{
		width: 49%; /*le damos un ancho de 49%  eso por que se le da un margen por defecto*/
		float: left; /*mandamos  a la izquierda*/
	}
	#contenido .item:nth-child(odd){
		margin-right: 2%; /*le da un margen a la derecha a los items impares*/
	}

}

@media screen and (min-width: 1000px){
	aside{
		display: block;
		float: right;
		margin: 1em;
	}
}